/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #953263; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #953263;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: normal;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #953263;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a76dd; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }

pre {
  box-shadow: none !important;
  border: none !important; }

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: none; }

.slide-title {
  text-align: left;
  font-size: 60px !important;
  display: flex; }

.reveal .controls {
  color: #b3d4fc; }

#s1 img {
  width: 30%; }

#s1 span {
  font-size: 16px;
  font-weight: 700; }

#s1 h4 {
  color: #699; }
  #s1 h4 strong {
    color: #953263; }

#s2 {
  text-align: left;
  display: flex !important;
  flex-direction: column; }
  #s2 q {
    color: #699;
    font-size: 32px;
    font-weight: 700; }
  #s2 em {
    font-size: 14px;
    text-align: right;
    align-self: flex-end;
    color: #953263;
    align-self: flex-end; }
  #s2 > .fr-1 {
    margin-top: 60px; }
    #s2 > .fr-1 #pre-process-flow {
      align-items: center;
      justify-content: space-between; }
      #s2 > .fr-1 #pre-process-flow .fa-file-code {
        color: #699;
        font-size: 100px; }
        #s2 > .fr-1 #pre-process-flow .fa-file-code .fa-sass,
        #s2 > .fr-1 #pre-process-flow .fa-file-code .fa-css3 {
          color: #953263 !important;
          font-size: 20px;
          top: -15px;
          left: -15px;
          background-color: #b3d4fc;
          border-radius: 50%;
          padding: 10px; }
      #s2 > .fr-1 #pre-process-flow .fa-redo {
        color: #699;
        font-size: 100px; }
      #s2 > .fr-1 #pre-process-flow .fa-window-maximize {
        color: #699;
        font-size: 100px; }

#s3 {
  text-align: left; }
  #s3 ul {
    margin: 30px 0 0 70px;
    list-style: none; }
    #s3 ul li {
      color: #699;
      align-items: center; }
      #s3 ul li::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-color: #699;
        transform: rotate(-45deg);
        margin-right: 15px; }

#s4 pre,
#s5 pre,
#s6 pre,
#s7 pre,
#s8 pre,
#s9 pre,
#s10 pre,
#s11 pre,
#s12 pre,
#s13 pre {
  margin: 0; }
  #s4 pre code,
  #s5 pre code,
  #s6 pre code,
  #s7 pre code,
  #s8 pre code,
  #s9 pre code,
  #s10 pre code,
  #s11 pre code,
  #s12 pre code,
  #s13 pre code {
    overflow-y: hidden; }

#s4 #nesting-code,
#s5 #nesting-code,
#s6 #nesting-code,
#s7 #nesting-code,
#s8 #nesting-code,
#s9 #nesting-code,
#s10 #nesting-code,
#s11 #nesting-code,
#s12 #nesting-code,
#s13 #nesting-code {
  align-items: center; }
  #s4 #nesting-code #files,
  #s5 #nesting-code #files,
  #s6 #nesting-code #files,
  #s7 #nesting-code #files,
  #s8 #nesting-code #files,
  #s9 #nesting-code #files,
  #s10 #nesting-code #files,
  #s11 #nesting-code #files,
  #s12 #nesting-code #files,
  #s13 #nesting-code #files {
    flex-direction: column;
    justify-content: space-between; }
    #s4 #nesting-code #files .file,
    #s5 #nesting-code #files .file,
    #s6 #nesting-code #files .file,
    #s7 #nesting-code #files .file,
    #s8 #nesting-code #files .file,
    #s9 #nesting-code #files .file,
    #s10 #nesting-code #files .file,
    #s11 #nesting-code #files .file,
    #s12 #nesting-code #files .file,
    #s13 #nesting-code #files .file {
      margin-top: 50px; }
  #s4 #nesting-code .fa-long-arrow-alt-right,
  #s5 #nesting-code .fa-long-arrow-alt-right,
  #s6 #nesting-code .fa-long-arrow-alt-right,
  #s7 #nesting-code .fa-long-arrow-alt-right,
  #s8 #nesting-code .fa-long-arrow-alt-right,
  #s9 #nesting-code .fa-long-arrow-alt-right,
  #s10 #nesting-code .fa-long-arrow-alt-right,
  #s11 #nesting-code .fa-long-arrow-alt-right,
  #s12 #nesting-code .fa-long-arrow-alt-right,
  #s13 #nesting-code .fa-long-arrow-alt-right {
    margin: 0 25px; }
  #s4 #nesting-code pre i,
  #s5 #nesting-code pre i,
  #s6 #nesting-code pre i,
  #s7 #nesting-code pre i,
  #s8 #nesting-code pre i,
  #s9 #nesting-code pre i,
  #s10 #nesting-code pre i,
  #s11 #nesting-code pre i,
  #s12 #nesting-code pre i,
  #s13 #nesting-code pre i {
    right: -15px;
    top: 40px;
    background-color: #b3d4fc;
    border-radius: 50%;
    padding: 10px; }

#s4 h6,
#s5 h6,
#s6 h6,
#s7 h6,
#s8 h6,
#s9 h6,
#s10 h6,
#s11 h6,
#s12 h6,
#s13 h6 {
  color: #699;
  text-align: left; }

#s14 {
  text-align: left; }

.reveal .progress {
  color: #953263; }
