/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #953263;
$headingColor: $mainColor;
$secondaryColor: #699;
$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

pre{
	box-shadow: none !important;
	border: none !important;
}
.reveal section img {
	margin: 15px 0px;
	background: rgba(255,255,255,0.12);
	border: none;
	box-shadow: none;
}

.slide-title{
	text-align: left;
	font-size: 60px !important;
	display: flex
}
.reveal .controls {
	color: #b3d4fc;
}

#s1  {
	img{
		width: 30%;
	}
	span{
		font-size: 16px;
		font-weight: 700;
	}
	h4{
		color:$secondaryColor ;
		strong {
			color: $mainColor
		}
	}
}

#s2{
	text-align: left;
	display: flex !important;
	flex-direction: column;
	q{
		color: $secondaryColor;
		font-size: 32px;
		font-weight: 700;
		
	}
	em{
		font-size: 14px;
		text-align: right;
		align-self: flex-end;
		color: $mainColor;
		align-self: flex-end;
	}
	>.fr-1{
		margin-top: 60px;
		#pre-process-flow{
			align-items: center;
			justify-content: space-between;
			.fa-file-code{
				color: $secondaryColor;
				font-size: 100px;
				.fa-sass,
				.fa-css3{
					color: $mainColor !important;
					font-size: 20px;
					top: -15px;
					left: -15px;
					background-color: #b3d4fc;
					border-radius: 50%;
					padding: 10px;
				}

			}
			.fa-redo{
				color: $secondaryColor;
				font-size: 100px;
			}
			.fa-window-maximize {
				color: $secondaryColor;
				font-size: 100px;
			}
		}
	}
}

#s3{
	text-align: left;
	ul{
		margin: 30px 0 0 70px;
		list-style: none;
		li{
			color: $secondaryColor;
			align-items: center;
			&::before{
				content: '';
				display: block;
				width: 16px;
				height: 16px;
				background-color: $secondaryColor;
				transform: rotate(-45deg);
				margin-right: 15px;
			}
		}
	}
}

#s4,
#s5,
#s6,
#s7,
#s8,
#s9,
#s10,
#s11,
#s12,
#s13 {
	pre{
		margin: 0;
		code{
			overflow-y: hidden
		}
	}
	#nesting-code{
		align-items: center;
		#files{
			flex-direction: column;
			justify-content: space-between;
			.file{
				margin-top: 50px;
			}
		}
		.fa-long-arrow-alt-right{
			margin: 0 25px;
		}
		pre{
			i{
				right: -15px;
				top: 40px;
				background-color: #b3d4fc;
				border-radius: 50%;
				padding: 10px
			}
		}
	}
	h6{
		color: $secondaryColor;
		text-align: left;
	}
}

#s14 {
	text-align: left;
}

.reveal .progress{
	color: $mainColor;
}